In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np

In [2]:
 #Load the dataset
titanic_data = pd.read_csv('train.csv')

In [3]:
#Display basic information about the dataset
print("Dataset Information:")
print(titanic_data.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [4]:
#Select numerical columns for statistics
numerical_cols = ['Age', 'Fare', 'SibSp', 'Parch']

# Explanation: We choose these columns because they contain numbers we can calculate statistics for
# Age = passenger age, Fare = ticket price, SibSp = siblings/spouses aboard, Parch = parents/children

In [5]:
#Calculate basic statistics for numerical columns
print("\nBasic Statistics for Numerical Columns:")
print(titanic_data[numerical_cols].describe())

# Explanation: The describe() function gives us:
# - count: how many non-missing values
# - mean: average value
# - std: standard deviation (how spread out the values are)
# - min/max: smallest and largest values
# - 25%/50%/75%: percentile values (50% is the median)

Basic Statistics for Numerical Columns:
              Age        Fare       SibSp       Parch
count  714.000000  891.000000  891.000000  891.000000
mean    29.699118   32.204208    0.523008    0.381594
std     14.526497   49.693429    1.102743    0.806057
min      0.420000    0.000000    0.000000    0.000000
25%     20.125000    7.910400    0.000000    0.000000
50%     28.000000   14.454200    0.000000    0.000000
75%     38.000000   31.000000    1.000000    0.000000
max     80.000000  512.329200    8.000000    6.000000

In [6]:
# Calculate median separately (to see it clearly)
print("\nMedian Values:")
print(titanic_data[numerical_cols].median())

Median Values:
Age      28.0000
Fare     14.4542
SibSp     0.0000
Parch     0.0000
dtype: float64

In [7]:
# Calculate mode (most frequent values)
print("\nMode (Most Frequent Values):")
print(titanic_data[numerical_cols].mode())

Mode (Most Frequent Values):
    Age  Fare  SibSp  Parch
0  24.0  8.05      0      0

In [8]:
#Calculate standard deviation
print("\nStandard Deviation (Measure of Spread):")
print(titanic_data[numerical_cols].std())

Standard Deviation (Measure of Spread):
Age      14.526497
Fare     49.693429
SibSp     1.102743
Parch     0.806057
dtype: float64

In [9]:
#Statistics for categorical columns
categorical_cols = ['Pclass', 'Sex', 'Embarked', 'Survived']
print("\nValue Counts for Categorical Columns:")
for col in categorical_cols:
    print(f"\n{col}:")
    print(titanic_data[col].value_counts())

Value Counts for Categorical Columns:

Pclass:
3    491
1    216
2    184
Name: Pclass, dtype: int64

Sex:
male      577
female    314
Name: Sex, dtype: int64

Embarked:
S    644
C    168
Q     77
Name: Embarked, dtype: int64

Survived:
0    549
1    342
Name: Survived, dtype: int64